<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANRrv4siCTM0WsgLjL2HDJ0JaepCM5d1A</string>
	<key>GCM_SENDER_ID</key>
	<string>463379338710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasirJerukAyang.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kasirjeruk</string>
	<key>STORAGE_BUCKET</key>
	<string>kasirjeruk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463379338710:ios:c1550cba64d56c9eeec077</string>
</dict>
</plist>